/*  your css code here. If applicable */
.grid-container{
	 width: 100%;
     grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(150px, 200px);
	display:grid;
	grid-gap:10px 10px;
}
.grid-container .grid-item{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgb(211, 211, 211);
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
	text-align:center;
}